.banner {
    background-color: #455a64;
    color: #eceff1
}
.primary-content {
    background-color: #cfd8dc;
    border: 1px black solid;
    border-radius: 3px;
}
.border-format {
    border: 1px black solid;
    border-radius: 3px;
    padding: 10px;
}
.city-button {
    height: 40px;
    width : 100%;
    border: 1px black solid;
    border-radius: 3px;
}
.ahem {
    margin: 10px;
}
div h3 {
    margin: 10px;
    padding: -10px;
    font-size: medium;
}
div h4 {
    margin: 10px;
    padding: -10px;
    font-size: medium;
}
.favorable {
    background-color: green;
    border: 3px green solid;
    border-radius: 3px;
}
.moderate {
    background-color: yellow;
    border: 3px yellow solid;
    border-radius: 3px;
}
.severe {
    background-color: red;
    border: 3px red solid;
    border-radius: 3px;
}
.card {
    margin: 3px;
    width: auto;
}
h5 {
    font-size: small;
}
.card-text {
    word-wrap: none;
}
.clear {
    height: 100px;
    background-color: red;
}